@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    height: 100%;
    width: 100%;
}

.message-box::-webkit-scrollbar{
    display: none;
}
.tree-object::-webkit-scrollbar{
    background-color: black;
    width: 10px;
    color: white;
}